.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat__header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat__body {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .chat__message {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .chat__footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
  }
  
  .chat__footer > form > input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .chat__footer > form > button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  